<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iqbal.gurmukhikeyboard50">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.GurmukhiKeyboard50"
        tools:replace="android:label">

        <service
            android:name=".MyKeyboardIME"
            android:exported="true"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:label="@string/app_name">
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <service android:name=".GurbaniPlayerService" android:enabled="true" android:exported="false" android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".MySpellCheckerService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>
            <meta-data android:name="android.view.textservice.scs" android:resource="@xml/spellchecker" />
        </service>

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".KeyboardSettingsActivity" android:exported="true" />
        <activity android:name=".AdjustKeyboardLayoutActivity" android:exported="true" />
        <activity android:name=".PrivacyPolicyActivity" android:exported="true" />
        <activity android:name=".SearchResultsActivity" android:exported="false" />
        <activity android:name=".TopRowSettingsActivity" android:exported="true" />
        <activity android:name=".DictionaryManagementActivity" android:exported="true" />
        <activity android:name=".OCRActivity" android:exported="true" />
        <activity android:name=".ShortcutsActivity" android:exported="true" android:label="Manage Shortcuts" />
        <activity android:name=".ImageToTextActivity" android:exported="true" />
        <activity android:name=".LearnedWordsActivity" android:exported="true" android:label="ਸਿੱਖੇ ਹੋਏ ਸ਼ਬਦ" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
